@{
    ViewData["Title"] = "Enderun Yetim Evi";
}

<div class="text-center my-2">
    <h1 class="display-4">ENDERUN YETİM EVİ</h1>
    <a class="btn btn-primary" asp-controller="Dorm" asp-action="Donate">İf you want donate click here</a>
</div>
<div class="text-center my-2">
    <a class="btn btn-warning" asp-controller="Dorm" asp-action="Students">If you want to register a student click here</a>
</div>
<div class="text-center my-2">
    <a class="btn btn-success" asp-controller="Dorm" asp-action="orphans">If you want to see our students click here</a>
</div>
<div class="text-center my-2">
    <a class="btn btn-info" asp-controller="Dorm" asp-action="DonaterList">If you want to see our donaters click here</a>
</div>
